.body-page {
    background-color: #353338;
}

.body-item {
    background-color: #353338;
}

.display-title {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.2em; }

.title-bg {
  font-family: "Bebas Neue", sans-serif; }

.display-3,
.display-4 {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.2em; }

.page-header-alpha .nav-item {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.2em; }

.btn {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.2em;
  height: 46px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 2px; }

.btn-outline-white {
  line-height: 44px; }

.btn-outline-primary {
  line-height: 44px; }

.btn-transp-arrow .text {
  padding-top: 2px; }

.page-footer .footer-left p {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.2em; }
